.headerNav-mid{
    margin-left: 200px;
}


.headerNav-item{
    margin-left:100px;
    margin-right:100px;
    font-size:larger;
    font-weight:bolder;
    /*color:#0e90d2;*/
    /*color:#409EFF;*/
}